/*first css*/
div#container{
margin: 10px 0px 0px 0px;
	width: 100%;
	
	
}
body {
	 background-color: white;
 }
 .para1{ 
color: red;
font-style: italic;

}


h1, .para1 {
	color: orange;
	font-weight: 900;
	text-align: center;
}
a  {
	line-height: 2;
}

p.para2,  p.para3 {
	text-indent: 1em;
	padding-right: 1
2	em
	
}
div#footers, a{
	
	color: white;
	font-weight: bold;		
}
div#paragraph {
  background-color: white;
	color: black;
	font-weight: bold;
}
div#image{
	display: block;
}

div#nav ul li {
	font-family: Arial, serief
	list-style-type: none;
	font-weight: bold;
	font-size: 20px;
	
}
div#menu {
	background-color: orange;
}
#menu {
	border:  5px  dotted black;
	width: 100%;

}

/*end*/

/*navigationmenuicon*/
body {
  font-family: "Lato", sans-serif;
  
  
}

/*opening sidebar body*/
.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  
  
  
}

/*opening sidebar*/
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.1s;
  font-size: 24px;
}

.sidebar a:hover {
  color: #f1f1f1;
  
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}
/*addatainsight icon*/
.openbtn {
  font-size: 18px;
  cursor: pointer;
  background-color: Orange;
  color: white;
  padding: 10px 10px;
  border: none;
  width: 100%;
  text-align: right;
} 

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 14px;
}

@media screen and (max-height: 950px) {
  .sidebar {padding-top: 13px;}
  .sidebar a {font-size: 15px;}
}
/*end*/

/*scrollmenubar*/
div.scrollmenu {
  background-color: #333;
  overflow: auto; 
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  
} 

div.scrollmenu a:hover {
  background-color: #777;
  
}
/*end*/

div#footers{
  background-color: #333;
  
  padding-button: 20px;
  font-size: 16px;
  text-align: center;
	

}
ul {
 list-style-type: none; 
 }
 
a.sig{
       
	color: white;
	text-align: center;
}
div#header{
	background-color: #333;

	font-size: 14px;
}

/*main properties*/
.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


button {
width: 300px;
height: 40px;
padding-top: 20px;
}


