/*first css*/

body,h1,h2,h3,h4,h5,h6 {
wididth: 100%;
font-family: "Lato", Times New Roman, sans-serif;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
 
 .para1{ 
color: red;
font-style: italic;

}


h1, .para1 {
	color: tomato;
	font-weight: 900;
	text-align: center;
}
a  {
	line-height: 2;
}

p.para2,  p.para3 {
	text-indent: 1em;
	padding-right: 1
2	em
	
}

div#footers, a{
	
	color: white;
	font-weight: bold;		
}
div#paragraph {
  background-color: #ccc;
	color: black;
	font-weight: bold;
}

div#image{
	display: block;
}

div#nav ul li {
	font-family: Arial, serief
	list-style-type: none;
	font-weight: bold;
	font-size: 20px;
	
}
div#menu {
	background-color: tomato;
}
#menu {
	border:  5px  dotted black;
	width: 100%;
	height: 2px;

}

/*end*/

/*navigationmenuicon*/
body {
  font-family: "Lato", sans-serif;
  
  
}

/*opening sidebar body*/
.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  
}

/*opening sidebar*/
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.1s;
  font-size: 24px;
}

.sidebar a:hover {
  color: #f1f1f1;
  
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}
/*addatainsight icon*/
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color:  rgb(29, 41, 81);
  color: white;
  padding: 10px 10px;
  border: none;
  width: 100%;
  
  text-align: right;
} 

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 14px;
}

@media screen and (max-height: 950px) {
  .sidebar {padding-top: 13px;}
  .sidebar a {font-size: 15px;}
}
/*end*/

/*scrollmenubar*/
div.scrollmenu {
  background-color: rgb(100, 41, 91);
  overflow: auto; 
  white-space: nowrap;
} 

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  height: 8px 0px 30px;
  
  
} 

div.scrollmenu a:hover {
  background-color: orange;
  
  
}
/*end*/

/*footer*/
div#footers{
  background-color: rgb(29, 41, 81);
  
  padding: 20px 20px 30px;
  font-size: 16px;
  text-align: left;
	
} 
ul {
 list-style-type: none; 
 }
 /*end*/
a.sig{
       
	color: white;
	text-align: right;
	padding:2px 5px;
	
}


div#header{
	background-color: rgb(29, 41, 81);
 
	font-size: 14px;
}

/*main properties*/
.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */

}

.main {
  float: left;
  width: 100%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right #container{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
	
}


.serv-button {
background-color: tomato;
width: 100%;
height: 35px;
font-size:20px;
color:white;
margin: 

} 

/*box-shadow*/

body {
background:#ccc
} 
.box h3{
 text-align:center; 
 position:relative; 
 top:10px; 
 } 
 .box { 
 width:80%;
  height:300px; 
  background:#FFF; 
  margin:40px auto;
   } 
div p {
	text-align: center;
	padding: 5px 10px 5px 10px;
}
.box a {
	padding-left: 30%;
}
   /*================================================== * Effect 1 * ===============================================*/ 
  .effect1{ 
  -webkit-box-shadow: 0 10px 6px -6px #777; 
  -moz-box-shadow: 0 10px 6px -6px #777; box-shadow: 0 10px 6px -6px #777;
   } 
   /*================================================== * Effect 2 * ===============================================*/ .effect2 { 
 position: relative; } 
 .effect2:before,
  .effect2:after {
   z-index: -1; 
   position: absolute; content: ""; 
   bottom: 15px; left: 10px;
    width: 50%; top: 80%; 
    max-width:300px; 
    background: #777; 
    -webkit-box-shadow: 0 15px 10px #777; 
    -moz-box-shadow: 0 15px 10px #777;
     box-shadow: 0 15px 10px #777; 
     -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg); -o-transform: rotate(-3deg);
       -ms-transform: rotate(-3deg); transform: rotate(-3deg); } .effect2:after {
        -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 10px; left: auto; } /*================================================== * Effect 3 * ===============================================*/
 .effect3 { position: relative; } 
 .effect3:before { z-index: -1; position: absolute; content: ""; bottom: 15px; left: 10px; width: 50%; top: 80%; max-width:300px; background: #777; -webkit-box-shadow: 0 15px 10px #777; -moz-box-shadow: 0 15px 10px #777; box-shadow: 0 15px 10px #777; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -o-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg); } /*================================================== * Effect 4 * ===============================================*/ .effect4 { position: relative; } .effect4:after { z-index: -1; position: absolute; content: ""; bottom: 15px; right: 10px; left: auto; width: 50%; top: 80%; max-width:300px; background: #777; -webkit-box-shadow: 0 15px 10px #777; -moz-box-shadow: 0 15px 10px #777; box-shadow: 0 15px 10px #777; -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); } /*================================================== * Effect 5 * ===============================================*/ .effect5 { position: relative; } .effect5:before, .effect5:after { z-index: -1; position: absolute; content: ""; bottom: 25px; left: 10px; width: 50%; top: 80%; max-width:300px; background: #777; -webkit-box-shadow: 0 35px 20px #777; -moz-box-shadow: 0 35px 20px #777; box-shadow: 0 35px 20px #777; -webkit-transform: rotate(-8deg); -moz-transform: rotate(-8deg); -o-transform: rotate(-8deg); -ms-transform: rotate(-8deg); transform: rotate(-8deg); } .effect5:after { -webkit-transform: rotate(8deg); -moz-transform: rotate(8deg); -o-transform: rotate(8deg); -ms-transform: rotate(8deg); transform: rotate(8deg); right: 10px; left: auto; } 