/*first css*/
div#container{
	width: 80%;
}
body {
	 background-color: white;
 }
 .para1{ 
color: red;
font-style: italic;

}


h1, .para1 {
	color: orange;
	font-weight: 900;
	text-align: center;
}
a  {
	line-height: 2;
}

p.para2,  p.para3 {
	text-indent: 1em;
	padding-right: 1
2	em
  	
}
div#footers, a{
	
	color: white;
	font-weight: bold;
}
div#paragraph {
  background-color: white;
	color: black;
	font-weight: bold;
}
div#image{
	display: block;
}

div#nav ul li {
	font-family: Arial, serief
	list-style-type: none;
	font-weight: bold;
	font-size: 20px;
	
}
div#menu {
	background-color: orange;
}
#menu {
	border:  5px  dotted black;
	width: 10%;

}

/*end*/

/*navigationmenuicon*/
body {
  font-family: "Lato", sans-serif;
  width:0%;
}

.sidebar {
  height: 100%;
  width: 3%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 5px 10px;
  border: none;
  width: 10%;
  text-align: left;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/*end*/

/*scrollmenubar*/
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} 

div.scrollmenu a:hover {
  background-color: #777;
}
/*end*/

div#footers{
	background-color: grey;
	font-size: 20px;
	width: 80%;
}
a.sig{
	color: white;
	text-align: center;
}
div#header{
	background-color: grey;
	width: 80%;
	font-size: 22px;
}
div#main{
	font-size: 24px;
}
